.section-space-30 {
  padding: 30px 0;
}

.section-space-40 {
  padding: 40px 0;
}

.section-space-50 {
  padding: 50px 0;
}

.section-space-60 {
  padding: 60px 0;
}
@media (max-width: 992px) {
  .section-space-60 {
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  .section-space-60 {
    padding: 40px 0;
  }
}
@media (max-width: 480px) {
  .section-space-60 {
    padding: 30px 0;
  }
}

.section-space-70 {
  padding: 70px 0;
}
@media (max-width: 992px) {
  .section-space-70 {
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  .section-space-70 {
    padding: 40px 0;
  }
}
@media (max-width: 480px) {
  .section-space-70 {
    padding: 30px 0;
  }
}

.section-space-80 {
  padding: 80px 0;
}
@media (max-width: 992px) {
  .section-space-80 {
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  .section-space-80 {
    padding: 40px 0;
  }
}
@media (max-width: 480px) {
  .section-space-80 {
    padding: 30px 0;
  }
}

.section-space-90 {
  padding: 90px 0;
}
@media (max-width: 992px) {
  .section-space-90 {
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  .section-space-90 {
    padding: 40px 0;
  }
}
@media (max-width: 480px) {
  .section-space-90 {
    padding: 30px 0;
  }
}

.section-space-100 {
  padding: 100px 0;
}
@media (max-width: 992px) {
  .section-space-100 {
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  .section-space-100 {
    padding: 40px 0;
  }
}
@media (max-width: 480px) {
  .section-space-100 {
    padding: 30px 0;
  }
}

.box-space-30 {
  padding: 30px 0px;
}
.box-space-30 p {
  padding: 15px 0px;
}

.heading-title {
  text-align: center;
  margin-bottom: 25px;
}
.heading-title h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}
@media (max-width: 768px) {
  .heading-title h1 {
    font-size: 35px;
    line-height: 30px;
  }
}
@media (max-width: 480px) {
  .heading-title h1 {
    font-size: 30px;
  }
}
.heading-title h2 {
  font-size: 38px;
  font-weight: 800;
  line-height: 50px;
}
@media (max-width: 768px) {
  .heading-title h2 {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 480px) {
  .heading-title h2 {
    line-height: 30px;
    font-size: 20px;
  }
}
.heading-title h3 {
  font-size: 30px;
  font-weight: 800;
}
@media (max-width: 768px) {
  .heading-title h3 {
    font-size: 20px;
    line-height: 22px;
  }
}
@media (max-width: 480px) {
  .heading-title h3 {
    font-size: 17px;
  }
}
.heading-title h4 {
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .heading-title h4 {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .heading-title h4 {
    font-size: 15px;
  }
}
.heading-title h5 {
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .heading-title h5 {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .heading-title h5 {
    font-size: 15px;
  }
}
.heading-title p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}
@media (max-width: 768px) {
  .heading-title p {
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 480px) {
  .heading-title p {
    font-size: 15px;
  }
}
.heading-title ul li {
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .heading-title ul li {
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 480px) {
  .heading-title ul li {
    font-size: 15px;
  }
}
.heading-title ul a {
  font-size: 20px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .heading-title ul a {
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 480px) {
  .heading-title ul a {
    font-size: 15px;
  }
}

.items-title {
  text-align: center;
}
.items-title h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 42px;
}
@media (max-width: 768px) {
  .items-title h2 {
    font-size: 22px;
    line-height: 30px;
  }
}
@media (max-width: 480px) {
  .items-title h2 {
    font-size: 20px;
  }
}
.items-title h3 {
  font-size: 36px;
  font-weight: 700;
  padding: 20px 0px;
  line-height: 30px;
}
@media (max-width: 768px) {
  .items-title h3 {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 480px) {
  .items-title h3 {
    font-size: 17px;
  }
}
.items-title h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
@media (max-width: 768px) {
  .items-title h4 {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .items-title h4 {
    font-size: 15px;
  }
}
.items-title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media (max-width: 768px) {
  .items-title p {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 480px) {
  .items-title p {
    font-size: 12px;
    line-height: 18px;
  }
}
.items-title ul {
  padding: 20px 0px;
  text-align: left;
}
.items-title ul.businesslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.items-title ul.businesslist li {
  list-style: none;
  color: inherit;
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
  text-align: center;
}
@media (max-width: 768px) {
  .items-title ul.businesslist li {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 480px) {
  .items-title ul.businesslist li {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}
.items-title ul li {
  padding: 10px 0px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  list-style: disc;
}
@media (max-width: 768px) {
  .items-title ul li {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .items-title ul li {
    font-size: 12px;
  }
}

.light-box .box-text h3 {
  font-weight: 800;
  font-size: 22px;
}
.light-box .box-text h4 {
  font-size: 20px;
  font-weight: 800;
}
@media (max-width: 768px) {
  .light-box .box-text h4 {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .light-box .box-text h4 {
    font-size: 15px;
  }
}
.light-box .box-text p {
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0px;
  line-height: 25px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .light-box .box-text p {
    font-size: 13px;
    line-height: 20px;
  }
}
@media (max-width: 480px) {
  .light-box .box-text p {
    font-size: 11px;
  }
}
.light-box .box-text ul li {
  padding: 0;
  font-weight: 800;
  margin-bottom: 10px;
}
.light-box .box-text ul li a {
  color: #009580;
  font-size: 18px;
}
@media (max-width: 768px) {
  .light-box .box-text ul li a {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .light-box .box-text ul li a {
    font-size: 13px;
  }
}
.light-box .box-text ul li a i {
  border-radius: 50px;
  border: 1px solid #009580;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.green-box .box-text h4 {
  font-size: 20px;
  font-weight: 800;
}
@media (max-width: 768px) {
  .green-box .box-text h4 {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .green-box .box-text h4 {
    font-size: 15px;
  }
}
.green-box .box-text p {
  font-size: 13px;
  font-weight: 400;
  padding: 10px 0px;
  line-height: 25px;
}
@media (max-width: 768px) {
  .green-box .box-text p {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .green-box .box-text p {
    font-size: 11px;
  }
}

.yellow-btn {
  text-align: center;
  padding: 12px 50px;
  border-radius: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 18px;
  font-weight: 800;
  border: none;
  border: solid 1px #FFD300;
  background-color: #FFD300;
  color: #000;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  display: inline-block;
}
@media (max-width: 768px) {
  .yellow-btn {
    padding: 8px 25px;
  }
}
.yellow-btn:hover {
  background-color: #e4be06;
  border: solid 1px #e4be06;
  color: #000;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

.transparent-btn {
  text-align: center;
  padding: 12px 50px;
  border-radius: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 12px;
  font-weight: 800;
  border: none;
  border: solid 1px #fff;
  background-color: transparent;
  color: #fff;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  display: inline-block;
}
.transparent-btn:hover {
  background-color: #FFD300;
  border: solid 1px #e4be06;
  color: #000;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}
header .topbar {
  background: #009580;
  padding: 10px 0;
}
header .topbar .left-info {
  padding: 4px 0;
}
header .topbar .left-info a {
  font-size: 16px;
  color: #fff;
  margin-right: 20px;
}
@media (max-width: 768px) {
  header .topbar .left-info a {
    font-size: 14px;
  }
}
header .topbar .left-info a i {
  margin-right: 5px;
}
header .topbar .social-media {
  text-align: right;
}
header .topbar .social-media ul li {
  display: inline-block;
  margin-left: 20px;
}
header .topbar .social-media ul li a {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: #006B5C;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
header .start-header {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  padding: 20px 0;
  -webkit-box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
          box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
header .start-header.scroll-on {
  position: fixed;
  -webkit-box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
          box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
header .start-header.scroll-on .navbar-brand img {
  height: 24px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
header .navigation-wrap {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
header .navbar {
  padding: 0;
}
header .navbar-brand img {
  height: 58px;
  width: auto;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
header .navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}
header .navbar-toggler:active {
  outline: none;
}
header .navbar-toggler:focus {
  outline: none;
}
header .navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #000;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
header .navbar-light .navbar-toggler-icon:after {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  top: 8px;
}
header .navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
header .navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  border-color: transparent;
}
header .navbar-toggler[aria-expanded=true] .navbar-toggler-icon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
  -webkit-transform: translateY(8px) rotate(-45deg);
          transform: translateY(8px) rotate(-45deg);
}
header .nav-link {
  color: #212121 !important;
  font-weight: 700;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  header .nav-link {
    font-size: 13px;
  }
}
header .nav-item {
  position: relative;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  margin: 10px;
}
header .nav-item:hover .nav-link {
  color: #009580 !important;
}
header .nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}
header .nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #009580;
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
header .nav-item.active .nav-link {
  color: #009580 !important;
}
header .nav-item.active:hover:after {
  opacity: 0;
}

/* Reset -------------------------------------------------- */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

a,
abbr,
acronym,
address,
article,
aside,
blockquote,
body,
caption,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
iframe,
img,
input,
label,
legend,
li,
nav,
object,
ol,
p,
pre,
q,
section,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

a img {
  border: none;
}

:focus {
  outline: 0;
}

a:focus {
  outline: none;
}

/* Global -------------------------------------------------- */
body {
  color: #000;
  font-size: 14px;
  line-height: 21px;
  font-family: "Nunito", sans-serif;
  background: #fff;
}

/* Global Css for headings, p and achors */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

ul,
ul li,
ul li ul,
ul li ul li,
ul ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.theme-bg {
  background: #009580;
}

.mh-auto {
  min-height: auto !important;
}

.inner-banner {
  height: 340px;
  width: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inner-banner.main-banner {
  height: 500px;
  overflow: hidden;
}
.inner-banner.main-banner .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -11px;
}
.inner-banner.main-banner .owl-nav .owl-prev,
.inner-banner.main-banner .owl-nav .owl-next {
  position: absolute;
  color: #fff;
  font-size: 116px;
  outline: 0 !important;
}
.inner-banner.main-banner .owl-nav .owl-prev {
  left: 0;
}
.inner-banner.main-banner .owl-nav .owl-next {
  right: 0;
}
.inner-banner:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 149, 128, 0.79);
  position: absolute;
}
.inner-banner .heading-title h2 {
  text-transform: uppercase;
  font-size: 46px;
  letter-spacing: 3px;
}
.inner-banner .content-wrapper {
  position: relative;
  z-index: 2;
  color: #fff;
}
.inner-banner .content-wrapper h4 {
  padding: 20px 0px;
}
.inner-banner ul li {
  display: inline-block;
  margin: 0 10px;
}
@media (max-width: 480px) {
  .inner-banner ul li {
    margin-bottom: 15px;
  }
}

.our-work {
  background-color: rgba(0, 149, 128, 0.05);
}
.our-work .heading-title h2 {
  color: #000;
}
.our-work .heading-title span {
  font-weight: 300;
}
.our-work .heading-title p {
  line-height: 30px;
  padding-top: 25px;
}

.our-services {
  text-align: center;
}
.our-services .items-title h2 {
  padding-bottom: 20px;
}
.our-services .service-content {
  padding: 0 20px;
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  .our-services .service-content {
    padding: 0px;
  }
}
.our-services .service-content img {
  height: 76px;
  -o-object-fit: contain;
     object-fit: contain;
}
.our-services .service-content a {
  margin-top: 30px;
  margin-bottom: 30px;
}
.our-services .service-content p {
  min-height: 125px;
}

.choose-us {
  background-color: #009580;
  padding-top: 45px;
}
.choose-us img {
  padding: 0px 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.choose-us h2 {
  color: #fff;
  padding: 20px 0px 0;
}
.choose-us ul li {
  list-style-position: inside;
}
.choose-us .items-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  padding-bottom: 40px;
}
@media (max-width: 480px) {
  .choose-us .choose-btn {
    text-align: center;
  }
}

.items-btn {
  padding: 10px 0;
}

.we-serve .serve-inner ul li {
  display: inline-block;
}
.we-serve .serve-inner ul li img {
  height: 450px;
}
.we-serve .serve-inner ul .items-title {
  max-width: 50%;
  background-color: #587ee7;
  position: relative;
  padding: 30px 50px;
  color: #fff;
  right: 5px;
  top: 60px;
}

.accreditations .heading-title p {
  font-size: 13px;
}
.accreditations .partners ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  padding: 30px 0px;
}
.accreditations .partners ul li {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}
.accreditations .partners ul li img {
  padding: 20px;
}
@media (max-width: 480px) {
  .accreditations .partners ul li img {
    padding: 0px 5px;
  }
}

.accountancy-services .accountancy-inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  padding: 50px 0px;
}
.accountancy-services .accountancy-inner ul li {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}
.accountancy-services .accountancy-inner ul li i {
  border-radius: 50px;
  padding: 40px;
}
.accountancy-services .accountancy-inner ul li i::before {
  color: #fff;
}
.accountancy-services .accountancy-inner ul li p {
  padding: 40px 0px;
}

.switch-accounts {
  background-color: #009580;
  padding: 50px;
}
.switch-accounts .text-title h3 {
  color: #fff;
}
.switch-accounts .text-title p {
  color: #fff;
  padding-top: 15px;
}

.subscribe-us img {
  -o-object-fit: contain;
     object-fit: contain;
}
.subscribe-us .heading-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.subscribe-us .heading-title h2 {
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  .subscribe-us .heading-title h2 {
    text-align: center;
  }
}
.subscribe-us .input-group {
  width: 80%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #f2faf9;
  border-radius: 40px;
  padding-left: 9px;
}
@media (max-width: 480px) {
  .subscribe-us .input-group {
    width: 100%;
  }
}
.subscribe-us .input-group input {
  border: 0;
  background: transparent;
}
.subscribe-us .input-group a {
  max-width: 230px;
  -webkit-box-flex: 210px;
      -ms-flex: 210px;
          flex: 210px;
}
@media (max-width: 768px) {
  .subscribe-us .input-group a {
    -webkit-box-flex: 0px;
        -ms-flex: 0px;
            flex: 0px;
  }
}
@media (max-width: 480px) {
  .subscribe-us .input-group a {
    -webkit-box-flex: 20px;
        -ms-flex: 20px;
            flex: 20px;
  }
}

.our-office .blog-text h3 a {
  color: #fff;
  font-size: 25px;
}
@media (max-width: 768px) {
  .our-office .blog-text h3 a {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .our-office .blog-text h3 a {
    font-size: 17px;
  }
}
.our-office .blog-text h3 a:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #4C4E4D;
}
.our-office .blog-text ul {
  margin-bottom: 30px;
}
.our-office .blog-text ul li {
  padding: 8px 0px;
  color: #009580;
  list-style: disc;
  font-weight: 600;
  list-style-position: inside;
}
.our-office .blog-text p {
  padding: 15px 0px;
}
.our-office .blog-text p span a {
  border-bottom: 1px solid;
  color: #009580;
}
.our-office .blog-text .content-wrapper-withimage .overlay {
  background: rgba(0, 149, 128, 0.5);
  opacity: 0.8;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.our-office .blog-text .content-wrapper-withimage h3 {
  color: #fff;
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.side-box {
  text-align: center;
}
.side-box .light-box {
  margin-bottom: 20px;
  background-color: #f2faf9;
  padding: 20px;
}
.side-box .light-box span {
  border-bottom: 1px solid;
  color: #009580;
}
.side-box .green-box {
  background-color: #009580;
  padding: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.call-treetops {
  background-color: #009580;
}
.call-treetops .heading-title {
  text-align: center;
}
.call-treetops h3 {
  color: #fff;
}

.our-consultants {
  background-color: #f2faf9;
  padding: 50px 0px;
}
.our-consultants .heading-title {
  padding: 30px 0px;
}
@media (max-width: 480px) {
  .our-consultants ul {
    text-align: center;
  }
}
.our-consultants ul li {
  padding: 10px 0px;
}
@media (max-width: 480px) {
  .our-consultants .items-title {
    margin-top: 10px;
  }
}
.our-consultants .items-title h3 {
  padding: 0px;
}

.our-process .process-img {
  /* padding: 50px; */
}
.our-process .center-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 480px) {
  .our-process .center-line {
    visibility: hidden;
  }
}
.our-process .center-line .line {
  height: 80%;
  position: absolute;
  border-left: 2px solid #707070;
}
.our-process .center-line .line .circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  border: solid 1px #707070;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: calc(50% - 20px);
}
.our-process .center-line .line .circle2 {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  border: solid 1px #707070;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: calc(50% - 20px);
}
.our-process .center-line .line .circle3 {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  border: solid 1px #707070;
  border-radius: 50%;
  position: absolute;
  top: 65%;
  left: calc(50% - 20px);
}
.our-process .center-line .line .circle4 {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  border: solid 1px #707070;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: calc(50% - 20px);
}

.our-team {
  background-color: #009580;
}
.our-team .heading-title {
  color: #fff;
}
.our-team .heading-title h2 {
  padding: 50px 0px;
}
.our-team .team-img {
  padding: 0px 20px;
}

.testimonials .items-title {
  position: relative;
}
.testimonials .items-title:before {
  content: "";
  display: block;
  position: absolute;
  right: -60px;
  top: 30px;
  bottom: 0;
  opacity: 2;
  z-index: -1;
  background: url(./images/Image39.png) no-repeat right top/contain;
  height: 147px;
  width: 170px;
}
@media (max-width: 768px) {
  .testimonials .items-title:before {
    right: 0px;
    height: 100px;
  }
}
@media (max-width: 480px) {
  .testimonials .items-title:before {
    right: 0px;
    height: 100px;
  }
}
.testimonials .items-title h2 {
  text-align: left;
  padding: 40px 0px;
}
.testimonials .items-title p {
  padding: 10px 0px;
}
.testimonials .items-title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.testimonials .items-title ul li {
  color: #000;
  list-style: none;
  padding: 10px;
}
.testimonials .items-title ul li p {
  padding: 0px;
}
.testimonials .green-box {
  background-color: #009580;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  position: relative;
}
.testimonials .green-box p {
  min-height: 160px;
}
.testimonials .green-box:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  width: 20px;
  height: 20px;
  background: #009580;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
  margin: auto;
}
.testimonials .person-icon {
  padding: 10px 0px;
}

.small-widgets {
  margin: 20px 0;
}
.small-widgets i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px #fff;
  line-height: 50px;
  text-align: center;
  font-size: 23px;
  margin-right: 10px;
}
.small-widgets p {
  font-size: 19px;
}
.small-widgets p strong {
  font-weight: 700;
  font-size: 23px;
}

.talk-shop .heading-title h2 {
  padding: 30px 0px;
}

.we-help .heading-title h2 {
  padding: 30px 0px;
}

.services-box .inner-box {
  background-color: #009580;
  height: 100%;
}
.services-box .inner-box .items-title {
  padding: 30px 25px;
  color: #fff;
}
.services-box .inner-box .items-title p {
  text-align: left;
  min-height: 0px;
}
.services-box .service-btn h4 {
  padding: 50px 0px;
}

.our-software {
  background-color: #f2faf9;
  padding: 50px 0px;
}
.our-software h2 {
  padding: 10px 0px;
}
.our-software p {
  padding: 10px 0px;
}
.our-software .software-btn {
  padding: 30px 0px;
}
@media (max-width: 480px) {
  .our-software .software-btn {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .inner-banner .resources-banner .heading-title {
    margin: 10px 0px;
  }
}
.inner-banner .resources-banner .heading-title h2 {
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
  padding: 5px 0px;
  max-width: 84%;
}
.inner-banner .resources-banner .heading-title p {
  padding: 10px 0px;
}
.inner-banner .resources-banner .heading-title ul li {
  padding: 10px 0px;
}

.info-form {
  background-color: #f2faf9;
}
@media (max-width: 768px) {
  .info-form {
    margin: 10px 0px;
  }
}
@media (max-width: 480px) {
  .info-form {
    margin: 10px 0px;
  }
}
.info-form .items-title h3 {
  background-color: #009580;
  color: #fff;
}
.info-form .items-title ul {
  text-align: center;
}
.info-form .items-title ul li input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px 10px;
}
.info-form .items-title p {
  color: #000;
  text-align: left;
  padding: 5px 20px;
  font-size: 12px;
}
.info-form .form-btn {
  text-align: center;
  padding: 20px;
}

.related-topics .heading-title h3 {
  padding: 12px 0px;
  font-size: 22px;
}
.related-topics .heading-title ul {
  padding: 10px 0px;
}
.related-topics .heading-title ul li {
  list-style: circle;
  line-height: 30px;
  list-style-position: inside;
}
.related-topics .items-title h3 {
  color: #009580;
}
.related-topics .items-title ul li {
  padding: 5px 0px;
}
.related-topics .items-title ul li p {
  background-color: #009580;
  padding: 7px;
}

.clients-reviews .heading-title {
  /* padding: 20px 0px 60px 0px; */
}
.clients-reviews .heading-title h2 span {
  color: #009580;
}
.clients-reviews .items-title {
  text-align: center;
}
.clients-reviews .items-title .client-box h3 {
  text-transform: uppercase;
}
.clients-reviews .items-title .client-box img {
  padding: 20px 0px;
}

.newsletter .items-title form ul {
  text-align: center;
}
.newsletter .items-title form ul li {
  display: inline-block;
  padding: 10px;
}
.newsletter .items-title form ul li input {
  border: 1px solid #009580;
  padding: 10px;
  border-radius: 5px;
}
.newsletter .items-title p {
  font-size: 12px;
}
.newsletter .newsletter-btn {
  padding: 30px 0px;
  text-align: center;
}

.in-touch .heading-title h1 {
  color: #009580;
  padding: 10px 0px;
}
@media (max-width: 480px) {
  .in-touch .heading-title ul {
    padding: 20px 0px;
  }
}
.in-touch .heading-title ul li {
  display: inline-block;
}
.in-touch .heading-title ul li a {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 20px;
  background: #009580;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 768px) {
  .in-touch .heading-title ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
.our-contacts {
  padding-bottom: 40px;
}
.our-contacts .items-title .inner-contact {
  padding: 20px 0px;
}
.our-contacts .items-title .inner-contact h4 {
  padding: 20px 0px;
}
.our-contacts .items-title .inner-contact h4 a {
  color: #000;
}

.contact-form {
  background-color: #f2faf9;
}
.contact-form .green-circle {
  text-align: center;
}
@media (max-width: 480px) {
  .contact-form .green-circle {
    padding: 20px 0px;
  }
}
.contact-form .heading-title {
  text-align: left;
  width: 400px;
  height: 400px;
  background: #009580;
  position: relative;
  border-radius: 50%;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}
@media (max-width: 768px) {
  .contact-form .heading-title {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 480px) {
  .contact-form .heading-title {
    width: 250px;
    height: 250px;
  }
}
.contact-form .heading-title p {
  font-size: 15px;
}
.contact-form .items-title {
  background-color: #fff;
  border-radius: 10px;
}
.contact-form .items-title form ul {
  text-align: center;
}
.contact-form .items-title form ul li {
  list-style: none;
  font-size: 16px;
  padding: 10px 40px;
}
.contact-form .items-title form ul li input {
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  padding: 10px 0px;
  width: 100%;
}
.contact-form .items-title form ul li textarea {
  min-height: 180px;
  border: transparent;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.contact-form .items-title form ul .check-box {
  font-size: 18px;
  color: #009580;
  text-align: left;
}
@media (max-width: 768px) {
  .contact-form .items-title form ul .check-box {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .contact-form .items-title form ul .check-box {
    font-size: 12px;
  }
}
.contact-form .items-title form ul .check-box .custom-control {
  display: inline;
}
.contact-form .items-title form ul .check-box .custom-control .custom-control-label:before {
  background-color: #009580;
  height: 20px;
  width: 20px;
}
.contact-form .items-title form ul .check-box .custom-control .custom-control-label:after {
  border: 1px solid #009580;
  height: 20px;
  width: 20px;
}
.contact-form .items-title form ul .check-box .custom-control label {
  margin-left: 10px;
}
@media (max-width: 480px) {
  .contact-form .items-title form ul .check-box .custom-control label {
    margin-left: 0px;
  }
}
.contact-form .items-title form ul .form-btn {
  text-align: center;
}
.contact-form .items-title form ul .form-btn .yellow-btn {
  width: 100%;
}

.blogs-box .blog-item {
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 0 rgba(221, 221, 221, 0.42);
          box-shadow: 0 0 20px 0 rgba(221, 221, 221, 0.42);
}
.blogs-box .blog-item:hover .blog-top {
  overflow: hidden;
}
.blogs-box .blog-item:hover .blog-top img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.blogs-box .blog-item .blog-top {
  overflow: hidden;
}
.blogs-box .blog-item .blog-top img {
  width: 100%;
  height: 233px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.blogs-box .blog-item .blog-top a {
  display: block;
}
.blogs-box .blog-item .blog-bottom {
  padding: 35px 20px;
}
@media (max-width: 480px) {
  .blogs-box .blog-item .blog-bottom {
    padding: 15px;
  }
}
.blogs-box .blog-item .blog-bottom h3 {
  margin-bottom: 0;
  text-align: left;
}
.blogs-box .blog-item .blog-bottom h3 a {
  color: #4C4E4D;
  margin-bottom: 12px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  line-height: 1.4;
  display: block;
}
.blogs-box .blog-item .blog-bottom h3 a:hover {
  color: #009580;
}
.blogs-box .blog-item .blog-bottom p {
  color: #4C4E4D;
  margin-bottom: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.blogs-box .blog-item .blog-bottom ul {
  margin: 0;
  padding: 30px 0 0;
  border-top: 1px solid #707070;
}
.blogs-box .blog-item .blog-bottom ul li {
  display: inline-block;
  list-style-type: none;
  color: #009580;
}
@media (max-width: 768px) {
  .blogs-box .blog-item .blog-bottom ul li {
    font-size: 13px;
  }
}
.blogs-box .blog-item .blog-bottom ul li i {
  color: #009580;
}
@media (max-width: 768px) {
  .blogs-box .blog-item .blog-bottom ul li i {
    font-size: 13px;
  }
}
.blogs-box .blog-item .blog-bottom ul li:last-child {
  float: right;
}
.blogs-box .blog-item .blog-bottom ul li:last-child i {
  top: 1px;
  margin-right: 3px;
}
.blogs-box .blog-item .blog-bottom ul li a {
  display: block;
  color: #009580;
}
.blogs-box .blog-item .blog-bottom ul li a:hover {
  color: #009580;
}
.blogs-box .blog-item .blog-bottom ul li a:hover i {
  color: #ccc;
}
.blogs-box .blog-item .blog-bottom ul li a i {
  display: inline-block;
  position: relative;
  top: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog-content .items-title {
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
}
.blog-content .items-title p {
  margin: 10px 0px;
  color: #4C4E4D;
}
.blog-content .items-title p a {
  color: #009580;
}
.blog-content .items-title ul li {
  color: #000;
  font-weight: 700;
  list-style-position: inside;
}
@media (max-width: 768px) {
  .blog-content .items-title ul li {
    font-size: 15px;
  }
}
.blog-content .latest-posts .items-title {
  border: none;
  padding: 0px;
}
.blog-content .latest-posts .items-title ul {
  padding: 0px;
}
.blog-content .latest-posts .items-title ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
  list-style-position: inside;
}
.blog-content .latest-posts .items-title ul li img {
  height: 30px;
}
.blog-content .latest-posts .items-title ul li h4 {
  margin: 0px 10px;
}
.blog-content .latest-posts .items-title ul li h4 a {
  font-size: 16px;
  color: #4C4E4D;
}
.blog-content .latest-posts .items-title ul li h4 a:hover {
  color: #009580;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.digital-timeline {
  background-color: #f2faf9;
}
.digital-timeline .heading-title h2 {
  padding: 60px 0px 20px 0px;
}
.digital-timeline .heading-title p {
  padding: 20px;
  color: #4C4E4D;
}
.digital-timeline .heading-title h3 {
  padding: 20px 0px;
  color: #009580;
}
.digital-timeline .heading-title img {
  height: 342px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .digital-timeline .heading-title img {
    height: 150px;
  }
}
@media (max-width: 480px) {
  .digital-timeline .heading-title img {
    height: 90px;
  }
}

.success .heading-title p {
  padding: 40px 20px;
}
.success .side-box .green-box {
  padding: 40px 20px 60px 20px;
}

.phone-snap {
  background-color: #f2faf9;
}
.phone-snap .heading-title {
  padding: 20px 10px;
}
.phone-snap .items-title {
  text-align: left;
}
.phone-snap .items-title ul li {
  color: #000;
  list-style: none;
}
.phone-snap .items-title ul li h4 {
  padding: 10px 0px;
}

footer {
  background-color: #0B0D17;
}
footer .footer-content {
  padding: 40px 20px 10px;
}
footer .footer-content .footer-menu {
  color: #fff;
}
footer .footer-content .footer-menu h4 {
  padding: 10px 0 0;
  font-size: 19px;
  font-weight: 800;
  border-bottom: solid 2px #fff;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
  margin-bottom: 20px;
}
footer .footer-content .footer-menu ul li {
  padding: 6px 0px;
}
footer .footer-content .footer-menu ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
footer .footer-content .border-footer {
  border-bottom: 1px solid #707070;
  padding: 30px 0px;
}
footer .footer-content .rights {
  padding: 30px 0px 20px 0px;
}
footer .footer-content .rights h4 {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}
.text-left {
    text-align: left;
}


.flex-center-section{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.login-wrapper .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-wrapper .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 0;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-wrapper .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-wrapper .form .button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #009580;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-wrapper .form button:hover,.login-wrapper .form button:active,.login-wrapper .form button:focus {
  background: #43A047;
}
.login-wrapper .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login-wrapper .form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.login-wrapper .form .register-form {
  display: none;
}

.login-wrapper {
  background:#009580;
  height: 100vh;
  display: flex;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.login-wrapper h3 {
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
}